.App {
  font-family: 'Poppins', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  }

.App-header {
  text-align: center;
}

footer {
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
  color: rgb(114, 114, 114);
 }

a {
  text-decoration: none;
  color: rgb(34, 175, 34);
  font-weight: 650;
}

a:hover {
  color: darkgreen;
}